
/*Global Styles*/
body{
 color: #383636;
 margin:0;
 padding:0;

}

.expand-card {
    transition: transform 0.5s ease;
 }
 .expand-card:hover{
    transform: scale(1.1);
 }

 .content-wrap{
     width:900px;
     margin: 0 auto;
     padding-left: 15px;
 }
  
/*Profile*/
header{
    background: #bff0f1;
  
    display: inline-block;
    padding:15px;
    margin-bottom: 0;
    border-style:solid;
    border-width: 2px;
    box-shadow: 3px 4px #bdbdbd;
  
    
}
.pad{
    font-family: 'Tiro Bangla', serif;
    padding-left: 25px;
    text-align: center;
}
/*Projects*/
.projects{
    background: #dcdddd;
    text-align: center;
    margin-top: 0;

    
}
.difFont{
 font-family: 'Tiro Bangla', serif;
}
/*Education*/
.education { background: #bfa5c5;
    padding-bottom: 15px;
    font-family: 'Tiro Bangla', serif;
}

a:link, a:visited {
    background-color: #2f95da;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px ;
  }
  
  a:hover, a:active {
    background-color: rgb(132, 201, 247);
  }
  
  footer h2{
      text-align: center;
  }
  .a:link, a:visited {
  background-color: #19b3da;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgb(17, 157, 238);
}

/*Image section*/
div.pol{
  width: 40%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  display: inline-block;
}

div.container {
  text-align: center;
  padding: 10px 20px;
  
}

h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    
}
h2{
    font-family:sans-serif;
}
h3{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
li{
    font-family: 'Oswald', sans-serif;
    list-style-type:square;
    
}
ul{
    background-color:rgb(220, 216, 250);
    display: table;
    margin: 0 auto;
}
.exp{
    background-color: rgb(250, 214, 241);
    text-align: center;
}
.work{
    display: block;
    background-color: rgb(220, 216, 250);
    text-align: center;
 
}
.line{
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

footer{
    text-align: center;
    
}
